<section class="phx-hero">
    <h2>Hello <%= @reciever %>, from <%= @messenger %>!</h2>
    <%= link "Welcome page!", to: Routes.page_path(@conn, :index) %>
    <%= link "Hello page!", to: Routes.hello_path(@conn, :index) %>
</section>
